POSTGRES_PASSWORD=

# ── Indexer (Sepolia) ─────────────────────────────────────────────────────────
PONDER_RPC_URL_11155111=
START_BLOCK=10588376
DATABASE_SCHEMA=ponder

HOLACRACY_DATA_PROVIDER_ADDRESS=0x60d637581923bfc2CF929ab1415d693ef3b380ba
ORGANIZATION_FACTORY_ADDRESS=0x9c065888Bf9dA328dBc521FccdEeCD8bF7A57C63
HOL_GOVERNOR_FACTORY_ADDRESS=0xB8180b00A1B73ae07073e0a8ec1E9eA6eA05212A
MEETING_COMPONENTS_FACTORY_ADDRESS=
JOIN_REQUEST_ADDRESS=
TENSION_BOARD_ADDRESS=

# ── Frontend ──────────────────────────────────────────────────────────────────
VITE_DYNAMIC_ENVIRONMENT_ID=
VITE_INDEXER_URL=
VITE_JOIN_REQUEST_ADDRESS=
VITE_TENSION_BOARD_ADDRESS=
